body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    background-color:rgba(248, 244, 220, 0.973);
    font-family: Arial, Helvetica, sans-serif;
}
h2, p, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    color:black;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

h1 {
    font-weight: bold;
    font-size: 50px;
    color: rgb(192, 83, 4);
    font-family: 'Roboto', sans-serif;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}

.promo-container {
    background-color:rgba(235, 232, 218, 0.973);
    padding: 10px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:rgb(192, 83, 4);
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
     
}
.cartCompra {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cartItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cartItem img {
    width: 100px; /* Ajuste o tamanho da imagem */
    height: auto;
    margin-right: 20px;
}

.itemDetalhe {
    flex: 1;
}

.price {
    display: block;
    margin-top: 5px;
    color: rgb(192, 83, 4);
}

.total {
    font-size: 24px;
    margin-top: 20px;
    color: rgb(192, 83, 4);
}

.final {
    margin-top: 20px;
    background-color: rgb(192, 83, 4);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.final:hover {
    background-color: rgb(167, 72, 4);
}
.cadastro-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cadastro-form .form-group {
    margin-bottom: 15px;
}

.cadastro-form label {
    font-weight: bold;
}

.btn-success {
    background-color: rgb(192, 83, 4);
    border: none;
}

.btn-success:hover {
    background-color: rgb(167, 72, 4);
}



/* Header */
.header {
    background-color: rgba(248, 244, 220, 0.973);
    color:#333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
   
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container .logo {
    width: 100px;
    height: auto;
    margin-right: 12px;
}

.search-container {
    display: flex; 
    align-items: center; 
}

.search-container input {
    padding: 5px;
    width: 700px;
    font-style: italic;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-right: 5px; 
}

.search-container button {
    padding: 5px 10px;
    background-color: rgb(192, 83, 4);
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white; 
    border-radius: 4px; 
}

.icons-container{
    margin-right: 80px;
    position: relative;
}

.icons-container a {
    margin: 0 5px;
    color:#011aac;
    text-decoration: none;
    font-size: 24px;
    position: relative;
}

.icons-container a::after{
    content: attr(data-tooltip);
    position:absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(192, 83, 4);
    color: #333;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    font-size: 12px;
}

.icons-container a:hover::after,
.icons-container a:focus::after {
    opacity: 1;
    visibility: visible;
}

.icons-container i {
    vertical-align: middle;
}

.icons-container img {
    width: 24px;
    height: auto;
}

.main-menu {
    background-color: #333;
    padding: 10px 0;
}

.main-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-menu ul li {
    margin: 0 15px;
}

.main-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
}

.main-menu ul li a:hover {
    background-color: rgb(192, 83, 4);
    border-radius: 3px;
}

/* Carrossel */
.carousel-inner img {
    width: 50%;
    height: 750px; 
    
}
.carousel-item{
    width: 40%;
    height: 750px;
    margin-left: 10%;
    margin-right: 10%;
}
.carousel-item_active{
    width: 40%;
    height: 750px;
    margin-left: 40%;
    margin-right: 10%;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:rgb(252, 249, 233);
    color: rgb(192, 83, 4);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    box-shadow:5px 5px 2px rgba(136, 136, 136, 0.5);
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}
.imgBanner {
    display: flex;
    justify-content: center; 
    margin: 20px 0; 
}

.imgBanner a {
    display: inline-block; 
    margin: 0 10px; 
}

.imgBanner img {
    width: 700px; 
    height: 500px; 
    object-fit: cover; 
    border-radius: 5px; 
}


.produtos-container {
    margin: 20px auto;
    max-width: 1200px; 
    text-align: center;
}

.produto {
    border: 1px solid #ddd; 
    border-radius: 5px;
    background: #f9f9f9; 
    padding: 15px;
    width: 300px; 
    margin: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; 
    text-align: center; 
}
.imgprod {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
}

.produtos {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.produto:hover {
    transform: scale(1.05); 
}
.btnDetalhe{
    width: auto;
    padding: 5px;
    border-color:rgb(192, 83, 4) ;
    color:rgb(192, 83, 4);
    font-size: 20px;
}

input[type="button"] {
    margin: 10px;
    padding: 5px;
}

.fotoproduto {
    flex: 1; /* Permite que a imagem ocupe o espaço necessário */
    text-align: left;
}

.imgproduto {
    width: 100%; /* Define a largura da imagem como 100% do container */
    max-width: 300px; /* Limita a largura máxima da imagem */
    margin-top: 20px;
}

form {
    display: flex;
    align-items: flex-start; /* Alinha a imagem e as informações no topo */
    margin: 20px;
    margin-left: 18%;
    margin-top: 40px;
}

.informacoes {
    flex: 2; /* Permite que as informações ocupem mais espaço */
    margin-left: 20px; /* Espaçamento entre imagem e informações */
    text-align: left;
}

.cor {
    margin-top: 20px;
}

.infoProduto {
    margin-top: 20px;
}

.beneficios {
    margin: 10px 0 5px;
    background-color: rgb(221, 224, 228);
    padding: 10px;
    width: 40%;
}

.tamanho {
    margin-top: 20px;
}

#botaobranco {
    background-color: aliceblue;
    color: black;
    width: 100px;
    padding: 5px;
}

#botaopreto {
    background-color: black;
    color: aliceblue;
    width: 100px;
    padding: 5px;
}

#botaovermelho {
    background-color: red;
    color: aliceblue;
    width: 100px;
    padding: 5px;
}

#botaotm {
    width: 100px;
    padding: 5px;
}

#botaoComprar {
    background-color: rgb(192, 83, 4);
    color: black;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    border-radius: 5px;
    border: none;
}
#botaoComprar:hover{
    background-color: rgb(167, 72, 4);;
}

.developer-info {
    background-color: rgba(235, 232, 218, 0.973);
    padding: 20px;
    text-align: center;
}

.developer-info p {
    margin-bottom: 10px;
}

.developer-info a {
    color: black;
    text-decoration: none;
}

.developer-info a:hover {
    text-decoration: underline;
}
.container {
    margin: 20px auto;
    max-width: 600px; /* Limita a largura do formulário */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cadastro-form {
    display: flex;
    flex-direction: column; /* Alinha os campos em uma coluna */
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: rgb(192, 83, 4);
}

.btnCadastro {
    width: 100%;
    padding: 10px;
    background-color: rgb(192, 83, 4);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(167, 72, 4);
}

h2 {
    text-align: center;
    color: rgb(192, 83, 4);
    margin-bottom: 20px;
}
